 section form{
    color:black;
    width:65%;
    margin: 50px auto;
    text-align: left;
    padding: 20px;
    border-radius:5px;
    display: table;
    border-spacing: 5px;
    box-shadow: 0 0 20px blue;
    background-color: skyblue;
    font-size: 19px;
    height: 500px;
}
section input[type=text]{
    width:300px;
}
section form label{
   display:table-cell;
   text-align: right;
   vertical-align: top;
}
section form>*{
    display:table-row;
}
section form>label{
    display:inline;
    line-height: 0;
}
section form label > *{
    vertical-align:text-top;
}
.error{
    color: red;
    font-size: 12pt;

}
.btn{
    padding:10px;
    margin:10px;
    font-size: 15px;
    color:white;
    background:#5F9EA0;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}
button a{
    color:black;
    text-decoration: none;
}
#prev{
    cursor: pointer;
}
.btn:hover{
    background:blueviolet;
}
