.cartList{
    margin: auto;

    
}
tr,th,td{
        border: 1px solid white;
        
}
th{
    background: lightgreen;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
table{
    border-collapse: collapse;
}
