
.wrap{
    display:flex;
    flex-direction: row;
    margin-top: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
#aside{   
    float:left;
    width:200px;
    background-color: bisque; 
    height:500px;
    min-height:300px;

}
#aside h2{
    text-align: center;
}

#aside a{
    text-decoration: none;
    color:black;
    float: left;
    text-align: left;
    padding-right: 30px;
}
#aside li{
    list-style-type:square;
    margin-left: 15px;
}
#aside a:hover{
    color:red;
}
#section{
    width:90%;
    margin-left: 15px;
    margin-right:15px;
    padding-left: 15px;
    padding-right: 15px;
}
/*Section*/
#product{
    width:300px;
    float: left;
    padding-top: 10px;
    padding-right:10px;
    padding-left: 10px;
    color:black;
    height:400px;
}
#section a:hover{
    outline: gray 1px;
    outline-style: solid;

}
#product img{
    width:300px;
    height:300px; 
    max-width: 100%;
}
.product_name{
    float:left;
}
/*54words only*/
.category,.gender{
    padding-left:2px;
    padding-right:2px;
    text-align: justify;
    font-weight: bold;

}
.product_price{
    color: #001a00;
    float:right;
    padding-left: 60px;
    text-decoration: underline;
}
#container_name_price{
    display:inline-block;
    font-weight: bold;
}
