aside{
    width:43%;
    float: left;
}
section{
    width: 30%;
    float: right;
    text-align: justify;
    margin-right: 10px;
    
}

.img_container img{
    width: 450px;
    height:550px;
    margin-left:200px;
    outline: 1px solid lightgrey;
    display:block;
}
img:hover{
    transform:scale(1.5);
    overflow:hidden;
    
}
/*img zoom*/
/* img zoom*/
.wrap_aside_section{
    margin: 10px 10px 10px 10px;
    display:flex;
    padding-top:40px;
}
.right_bar{
    width: 25%;

}
.product_brand{
    font-size: 20pt;
    font-weight: bolder;
}
.product_name{
    font-size: 14pt;
    font-weight: bold;
}
.product_price{
   padding-top: 5px;
   padding-bottom: 5px;
   font-size: 12pt;
   color: brown;
}
.product_description{
   
    padding-bottom: 5px;
}
.delivery{
    color: gray;
    padding-top: 5px;
    font-style: italic;
}
#sold_by{
    
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 10px;
    float: right;
}
#product_size{
    padding-left: 20px;
    padding-bottom: 20px;
    border: 1px solid lightgrey;
    box-shadow: 0 0 2px activecaption;
}
#size{
    width:150px;
    margin-top: 10px;
    height: 50px;
    font-size: 14pt;
    text-align: center;
    border-color: grey;
    
}
#size:active,#size:hover,size:default{
    box-shadow: 0 0 2px aqua;
}
#add_cart{
    background-color: black;
    color: white;
    border: none;
    font-size: 15pt;
    height:50px;
    width: 200px;
    margin-top: 20px;
    transition: .4s;
}
#add_cart:hover,#add_cart:active{
    background-color: white;
    border: 1px solid black;
    color:black;
}
